@import"reset";
@import"grid";
@import"base";
@import"vars";
body{
    background-color: burlywood;
}
.big-grid {
    display: grid;
    //grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    //border: 10px solid coral;
    //grid-auto-rows: 400px;
    @media all and (max-width: 768px)
    {
        grid-template-columns: repeat(auto-fit, minmax(1fr, 300px));
        
    }
}
.hero{
    background-color: $--yellow-color;
    grid-column: 1/span 2;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
    
}

.welcome{
    background-color: $--cream-color;
    grid-column: 3/span 2;
    display: grid;
    justify-content: center;
    
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        text-align: center;
        
    }

}
.nav-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @media all and (max-width: 768px)
    {
        display: none;
        
    }
}
.welcome-section{
    padding: 4rem 1.5rem;
}
.primary-section{
    background-color: white;
    grid-column: 1/span 2;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.skill-img {
    grid-column-end: 4;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.skills-section{
    background-color: $--yellow-color;
    grid-column-end: 5;
    padding: 1rem;
        -self: center;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
        
    }
}
.percent90 {
    background-image: linear-gradient(to right,$--black-color 90%, white 10% );
    width: 100%;
    height: 2px;
    grid-column: 1/-1;
}
.percent80 {
    background-image: linear-gradient(to right,$--black-color 80%, white 10% );
    width: 100%;
    height: 2px;
    grid-column: 1/-1;
}
.percent70 {
    background-image: linear-gradient(to right,$--black-color 70%, white 10% );
    width: 100%;
    height: 2px;
    grid-column: 1/-1;
}
.skill-spec{
    width: 100%;
    
}
.interface-section{
    display: grid;
    background-color: $--yellow-color;
    grid-column-end: 2;
    justify-items: center;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.media-section{
    background-color: $--orange-color;
    grid-column-end: 3;
    display: grid;
    justify-items: center;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.mobile-section{
    background-color: $--black-color;
    grid-column-end: 4;
    color: white;
    display: grid;
    justify-items: center;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.coding-section{
    background-color: white;
    grid-column-end: 5;
    display: grid;
    justify-items: center;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.exp-img{
    grid-column: 1/span 2;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.exp-section{
    background-color: $--orange-color;
    grid-column: 3/span 2;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.exp-item{
    div{
        place-self: center;
        grid-column: 1/span 1;
        grid-row: 1/span 2;
    }
    h3{
        grid-column: 2/span 1;
        grid-row: 1/span 1;
    }
    h4{
        grid-column: 3/span 1;
        grid-row-end: 2;
    }
    p{
        grid-column: 2/span 2;
        grid-row: 2/span 1;
        align-self: start;
    }
}
.edu-section{
    background-color: $--yellow-color;
    grid-column: 1/span 2;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
    
}
.edu-img{
    
    grid-column: 3/span 2;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}

.contact-section{
    background-color: $--orange-color;
    grid-column: 1/span 2;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }

}

.contact-img{
    grid-column: 3/span 1;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.contact-details{
    background-color: $--black-color;
    grid-column: 4/5;
    padding: 1rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
contact-details-cnt > div {
    margin: 1rem 0;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.location-section {
    background-color: $--orange-color;
    grid-column: 1/-1;
    padding: 1rem 3rem;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;
        
    }
}
.footer{
    padding: 5rem 0;
    text-align: center;
    grid-column: 1/-1;
    background-color: white;
    @media all and (max-width: 768px)
    {
        grid-column: 1/span 1;

    }
}
